// colors
$colors: (
	'primary': #1989FA,
	'info': #4b67af,
	'danger': #791a15,
	'blue-1': #1f3695,
	'blue': #4394e4,
	'white': #fff,
	'white-1': #fcfcfc,
	'white-2': #eceef0,
	'light': #f9f9f9,
	'light-1': #d4d9de,
	'grey': #999,
	'grey-1': #666,
	'grey-bg': #f6f6f6,
	'dark-1': #343440,
	'dark': #222,
	'black': #000,
	'danger-1': #ED4749
);
$border-color: map-get($colors, 'light-1');
// font size
$base-font-size: 1rem;
$font-sizes: (
	xxs: 0.6154,
	xs: 0.7692,
	//10px
	sm: 0.9231,
	//12px
	md: 1,
	//13px
	lg: 1.0769,
	//14px
	xl: 1.2308,
	//18px,,,,
	xxl: 1.3846
);
$flex-jc: (
	start: flex-start,
	end: flex-end,
	center: center,
	between: space-between,
	around: space-around,
);
$flex-ai: (
	start: flex-start,
	end: flex-end,
	center: center,
	stretch: stretch,
);
// spacing
// 0-5: 0
// .mt-1  => margin top  .pb-2
$spacing-types: (
	m: margin,
	p: padding,
);
$spacing-directions: (
	t: top,
	r: right,
	b: bottom,
	l: left,
);
$spacing-base-size: 1rem;
$spacing-sizes: (
	0: 0,
	1: 0.25,
	2: 0.5,
	3: 1,
	4: 1.5,
	5: 3,
);